{% extends 'layout/base.html' %}

{% block title %}Thanh toán{% endblock %}

{% block content %}

    <div class="container">

            <h1 class="text-center text-info">Receipt Details</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Medicine Id</th>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th></th>
                </tr>
                </thead>
{#                <tbody>#}
{#                {% for item in receipt.details %}#}
{#                    <tr id="product{{ item.id }}">#}
                        {# loop.index0: get index of item #}
{#                        <th scope="row">{{ loop.index0 + 1 }}</th>#}
{#                        <td>{{ item.id }}</td>#}
{#                        <td>{{ item.medicine.name }}</td>#}
{#                        <td>{{ item.unit_price }}</td>#}
{#                        <td>#}
{#                            <input type="number"#}
{#                                   value="{{ item.quantity }}"#}
{#                                   class="form-control"/>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{##}
{#            <div class="alert alert-info">#}
{#                <ul>#}
{#                    <li>Total Quantity: <span id="cart-quantity">{{ receipt_stats.total_quantity }}</span></li>#}
{#                    <li>Total Amount: <span id="cart-amount">${{ receipt_stats.total_amount }}</span></li>#}
{#                </ul>#}
{#            </div>#}

            <div class="d-flex justify-content-end">
                {% include 'layout/momo.html' %}
            </div>

    </div>

{% endblock %}