{% extends 'layout/base.html '%}

{% block content %}
{% if current_user.is_authenticated and current_user.type=='cashier' %}
<h1 class="text-danger"> HÓA ĐƠN CỦA BỆNH NHÂN</h1>


<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Ngày tạo</th>
            <th>Tên bệnh nhân</th>
            <th>Tiền khám</th>
            <th>Tổng tiền</th>
            <th>Tên thu ngân</th>
        </tr>
        </thead>
        <tbody>
        {% for p in receipt %}
        <tr>
            <td>{{ p[0]}}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ "{:,.0f}".format(p[3]) }} VNĐ</td>
            <td>{{ p[4] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

