{% extends 'admin/master.html' %}

{% block title %}Clinic - Admin{% endblock %}

{% block body %}
<h1 class="text-center text-info">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ !!!</h1>

<div class="row">
    <div class="col-md-5">
        <div>
            <span class="d-inline-block text-uppercase text-primary h1 font-weight-bold">Hospital</span>
            <p>We want to hear from you on how to improve our service and provide the best
                care possible. Click here to submit your comments to us.</p>
            <span class="h4">Welcome to administrator pages</span>
        </div>
    </div>
    <div class="col-md-7">
        <img class=""
             src="https://scontent.xx.fbcdn.net/v/t1.15752-9/411193524_335729605928040_7056225036583314143_n.png?_nc_cat=107&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFiKSkszA2pnCqjru3Zj_MH10bEFLpJ3h7XRsQUukneHs7DmVCPgsT33NS3iTlpvbXDXbuMneSEU6tptAMk1vx-&_nc_ohc=xs2Ob0Qa3hMAX8cJINV&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSnf4M8AnyzkyKxssqLXKpdYSv8YJYa5MebNsXV6GXpig&oe=65BB97BD"
             alt="doctors">
    </div>
</div>
{% endblock %}